<a href="https://colab.research.google.com/github/lyadav44/data690_fall22/blob/main/Assignment_8/Laxmi_StatsnViz_Assignment8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Use Pandas to read the file census_costs.txt file

In [38]:
import pandas as pd
pd.set_option('max_colwidth',None)

url = 'https://raw.githubusercontent.com/wcj365/python-stats-dataviz/master/assignments/assignment_08_census_cost/census_costs.txt'
df = pd.read_csv(url, skiprows=1, sep="\t")
df.head()

  Census Year Total Population Census Cost Average Cost Per Person
0        1790        3,929,214     $44,377              1.13 cents
1        1800        5,308,483     $66,109              1.24 cents
2        1810        7,239,881    $178,445              2.46 cents
3        1820        9,633,822    $208,526              2.16 cents
4        1830       12,866,020    $378,545              2.94 cents

Find out how many rows and columns it has

In [39]:
rows = len(df.axes[0])
cols = len(df.axes[1])

print("no of rows: ", rows)
print("no of columns: ", cols)

no of rows:  23
no of columns:  4

Display first 10, last 10, and random 10 rows

In [40]:
# First 10 rows
df.head(10)

  Census Year Total Population Census Cost Average Cost Per Person
0        1790        3,929,214     $44,377              1.13 cents
1        1800        5,308,483     $66,109              1.24 cents
2        1810        7,239,881    $178,445              2.46 cents
3        1820        9,633,822    $208,526              2.16 cents
4        1830       12,866,020    $378,545              2.94 cents
5        1840       17,069,458    $833,371              4.88 cents
6        1850       23,191,876  $1,423,351              6.14 cents
7        1860       31,443,321  $1,969,377              6.26 cents
8        1870       38,558,371  $3,421,198              8.87 cents
9        1880       50,155,783  $5,790,678             11.54 cents

In [41]:
# last 10 rows
df.tail(10)

   Census Year Total Population     Census Cost Average Cost Per Person
13        1920      105,710,620     $25,117,000             23.76 cents
14        1930      122,775,046     $40,156,000             32.71 cents
15        1940      131,669,275     $67,527,000             51.29 cents
16        1950      151,325,798     $91,462,000             60.44 cents
17        1960      179,323,175    $127,934,000             71.34 cents
18        1970      203,302,031    $247,653,000                   $1.22
19        1980      226,542,199  $1,078,488,000                   $4.76
20        1990      248,718,301  $2,492,830,000                  $10.02
21        2000      281,421,906    $4.5 Billion                  $15.99
22       2010*      308,745,538     $13 Billion                  $42.11

In [42]:
# random 10 rows

df.sample(10)

   Census Year Total Population     Census Cost Average Cost Per Person
9         1880       50,155,783      $5,790,678             11.54 cents
5         1840       17,069,458        $833,371              4.88 cents
11        1900       76,303,387     $11,854,000             15.54 cents
13        1920      105,710,620     $25,117,000             23.76 cents
7         1860       31,443,321      $1,969,377              6.26 cents
17        1960      179,323,175    $127,934,000             71.34 cents
16        1950      151,325,798     $91,462,000             60.44 cents
18        1970      203,302,031    $247,653,000                   $1.22
20        1990      248,718,301  $2,492,830,000                  $10.02
19        1980      226,542,199  $1,078,488,000                   $4.76

Find out the data types of all columns - use info() function

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     object
 1   Total Population         23 non-null     object
 2   Census Cost              23 non-null     object
 3   Average Cost Per Person  23 non-null     object
dtypes: object(4)
memory usage: 864.0+ bytes

Find out the summary statistics of all columns

In [44]:
df.describe(include="all")

       Census Year Total Population Census Cost Average Cost Per Person
count           23               23          23                      23
unique          23               23          23                      23
top           1790        3,929,214     $44,377              1.13 cents
freq             1                1           1                       1

Cleanse the data to make the year, population, cost, cost per person numerical type


--Code functions to cleanse the columns. One function for one column


--use apply() method of data frame to apply the functions to the columns for data cleansing

In [45]:
# Cleaning Pupoluation, cost, cost per person numerical type

def Census_year(a):
  a = a.replace('*', '')
  return int(a)

def Total_population(a):
  a = a.replace(',', '')
  return int(a)

def Census_cost(a):
  if 'Billion' in a:
    a = a.replace('$', '')
    a = a.replace(',', '')
    a = a.replace(' Billion', '')
    a = float(a)
    return a*(10**9)
  else:
    a = a.replace('$', '')
    a = a.replace(',', '')
    return float(a)

def Average_cost_per_person(a):
  if ' cents' in a:
    a = a.replace('$', '')
    a = a.replace(' cents', '')
    a = float(a)
    a = a/100
    return a
  else:
    a = a.replace('$', '')
    return float(a)

In [46]:
df['Census Year Update'] = df['Census Year'].apply(Census_year)
df['Total Population Update'] = df['Total Population'].apply(Total_population)
df['Census Cost Update'] = df['Census Cost'].apply(Census_cost)
df['Average Cost Per Person Update'] = df['Average Cost Per Person'].apply(Average_cost_per_person)

In [47]:
df

,Census Year,Total Population,Census Cost,Average Cost Per Person,Census Year Update,Total Population Update,Census Cost Update,Average Cost Per Person Update
0,1790,"3,929,214","$44,377",1.13 cents,1790,3929214,4.437700e+04,0.0113
1,1800,"5,308,483","$66,109",1.24 cents,1800,5308483,6.610900e+04,0.0124
2,1810,"7,239,881","$178,445",2.46 cents,1810,7239881,1.784450e+05,0.0246
3,1820,"9,633,822","$208,526",2.16 cents,1820,9633822,2.085260e+05,0.0216
4,1830,"12,866,020","$378,545",2.94 cents,1830,12866020,3.785450e+05,0.0294
5,1840,"17,069,458","$833,371",4.88 cents,1840,17069458,8.333710e+05,0.0488
6,1850,"23,191,876","$1,423,351",6.14 cents,1850,23191876,1.423351e+06,0.0614
7,1860,"31,443,321","$1,969,377",6.26 cents,1860,31443321,1.969377e+06,0.0626
8,1870,"38,558,371","$3,421,198",8.87 cents,1870,38558371,3.421198e+06,0.0887
9,1880,"50,155,783","$5,790,678",11.54 cents,1880,50155783,5.790678e+06,0.1154
10,1890,"62,979,766","$11,547,127",18.33 cents,1890,62979766,1.154713e+07,0.1833
11,1900,"76,303,387","$11,854,000",15.54 cents,1900,76303387,1.185400e+07,0.1554
12,1910,"91,972,266","$15,968,000",17.07 cents,1910,91972266,1.596800e+07,0.1707
13,1920,"105,710,620","$25,117,000",23.76 cents,1920,105710620,2.511700e+07,0.2376
14,1930,"122,775,046","$40,156,000",32.71 cents,1930,122775046,4.015600e+07,0.3271
15,1940,"131,669,275","$67,527,000",51.29 cents,1940,131669275,6.752700e+07,0.5129
16,1950,"151,325,798","$91,462,000",60.44 cents,1950,151325798,9.146200e+07,0.6044
17,1960,"179,323,175","$127,934,000",71.34 cents,1960,179323175,1.279340e+08,0.7134
18,1970,"203,302,031","$247,653,000",$1.22,1970,203302031,2.476530e+08,1.2200
19,1980,"226,542,199","$1,078,488,000",$4.76,1980,226542199,1.078488e+09,4.7600
20,1990,"248,718,301","$2,492,830,000",$10.02,1990,248718301,2.492830e+09,10.0200
21,2000,"281,421,906",$4.5 Billion,$15.99,2000,281421906,4.500000e+09,15.9900
22,2010*,"308,745,538",$13 Billion,$42.11,2010,308745538,1.300000e+10,42.1100

In [48]:
df.drop(['Census Year', 'Total Population', 'Census Cost', 'Average Cost Per Person'],axis = 1,  inplace = True)

In [49]:
df

,Census Year Update,Total Population Update,Census Cost Update,Average Cost Per Person Update
0,1790,3929214,4.437700e+04,0.0113
1,1800,5308483,6.610900e+04,0.0124
2,1810,7239881,1.784450e+05,0.0246
3,1820,9633822,2.085260e+05,0.0216
4,1830,12866020,3.785450e+05,0.0294
5,1840,17069458,8.333710e+05,0.0488
6,1850,23191876,1.423351e+06,0.0614
7,1860,31443321,1.969377e+06,0.0626
8,1870,38558371,3.421198e+06,0.0887
9,1880,50155783,5.790678e+06,0.1154
10,1890,62979766,1.154713e+07,0.1833
11,1900,76303387,1.185400e+07,0.1554
12,1910,91972266,1.596800e+07,0.1707
13,1920,105710620,2.511700e+07,0.2376
14,1930,122775046,4.015600e+07,0.3271
15,1940,131669275,6.752700e+07,0.5129
16,1950,151325798,9.146200e+07,0.6044
17,1960,179323175,1.279340e+08,0.7134
18,1970,203302031,2.476530e+08,1.2200
19,1980,226542199,1.078488e+09,4.7600
20,1990,248718301,2.492830e+09,10.0200
21,2000,281421906,4.500000e+09,15.9900
22,2010,308745538,1.300000e+10,42.1100

Use Plotly to plot the average cost per person over time.

In [50]:
df.describe(include="all")

,Census Year Update,Total Population Update,Census Cost Update,Average Cost Per Person Update
count,23.0000,2.300000e+01,2.300000e+01,23.000000
mean,1900.0000,1.039211e+08,9.445587e+08,3.368739
std,67.8233,9.622629e+07,2.830037e+09,9.278241
min,1790.0000,3.929214e+06,4.437700e+04,0.011300
25%,1845.0000,2.013067e+07,1.128361e+06,0.055100
50%,1900.0000,7.630339e+07,1.185400e+07,0.170700
75%,1955.0000,1.653245e+08,1.096980e+08,0.658900
max,2010.0000,3.087455e+08,1.300000e+10,42.110000

Use Plotly to plot the average cost per person over time.

In [51]:
import pandas as pd

print("Pandas Version is ", pd.__version__)

import plotly 

print("Plotly Version is", plotly.__version__)

import plotly.graph_objects as go
import plotly.express as px

Pandas Version is  1.3.5
Plotly Version is 5.5.0

In [54]:
fig = go.Figure()

trace_cost = go.Bar(      
    x=df["Census Year Update"],    
    y=df["Average Cost Per Person Update"]
 
)

fig.add_trace(trace_cost)


fig.update_layout(
    title="Average Cost Per Person Over Time",
    xaxis_title="Census Year Update",
    yaxis_title="Average Cost Per Person Update"
)

fig.show()

Use Plotly to plot the scatter plot of Total Population vs Total Cost.

In [53]:
fig = px.scatter(
    df,
    x="Census Year Update",
    y="Average Cost Per Person Update", 
    title="Total Cost VS Total Populaton", 
    template="plotly_dark"
)

fig.update_layout(showlegend=False)

fig.show()