<a href="https://colab.research.google.com/github/lyadav44/data690_fall22/blob/main/Assignment_8/Laxmi_StatsnViz_Assignment8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Use Pandas to read the file census_costs.txt file

In [1]:
import pandas as pd
pd.set_option('max_colwidth',None)

url = 'https://raw.githubusercontent.com/wcj365/python-stats-dataviz/master/assignments/assignment_08_census_cost/census_costs.txt'
df = pd.read_csv(url, skiprows=1, sep="\t")
df.head()

  Census Year Total Population Census Cost Average Cost Per Person
0        1790        3,929,214     $44,377              1.13 cents
1        1800        5,308,483     $66,109              1.24 cents
2        1810        7,239,881    $178,445              2.46 cents
3        1820        9,633,822    $208,526              2.16 cents
4        1830       12,866,020    $378,545              2.94 cents

Find out how many rows and columns it has

In [2]:
rows = len(df.axes[0])
cols = len(df.axes[1])

print("no of rows: ", rows)
print("no of columns: ", cols)

no of rows:  23
no of columns:  4

Display first 10, last 10, and random 10 rows

In [3]:
# First 10 rows
df.head(10)

  Census Year Total Population Census Cost Average Cost Per Person
0        1790        3,929,214     $44,377              1.13 cents
1        1800        5,308,483     $66,109              1.24 cents
2        1810        7,239,881    $178,445              2.46 cents
3        1820        9,633,822    $208,526              2.16 cents
4        1830       12,866,020    $378,545              2.94 cents
5        1840       17,069,458    $833,371              4.88 cents
6        1850       23,191,876  $1,423,351              6.14 cents
7        1860       31,443,321  $1,969,377              6.26 cents
8        1870       38,558,371  $3,421,198              8.87 cents
9        1880       50,155,783  $5,790,678             11.54 cents

In [4]:
# last 10 rows
df.tail(10)

   Census Year Total Population     Census Cost Average Cost Per Person
13        1920      105,710,620     $25,117,000             23.76 cents
14        1930      122,775,046     $40,156,000             32.71 cents
15        1940      131,669,275     $67,527,000             51.29 cents
16        1950      151,325,798     $91,462,000             60.44 cents
17        1960      179,323,175    $127,934,000             71.34 cents
18        1970      203,302,031    $247,653,000                   $1.22
19        1980      226,542,199  $1,078,488,000                   $4.76
20        1990      248,718,301  $2,492,830,000                  $10.02
21        2000      281,421,906    $4.5 Billion                  $15.99
22       2010*      308,745,538     $13 Billion                  $42.11

In [5]:
# random 10 rows

df.sample(10)

   Census Year Total Population   Census Cost Average Cost Per Person
3         1820        9,633,822      $208,526              2.16 cents
15        1940      131,669,275   $67,527,000             51.29 cents
8         1870       38,558,371    $3,421,198              8.87 cents
1         1800        5,308,483       $66,109              1.24 cents
21        2000      281,421,906  $4.5 Billion                  $15.99
9         1880       50,155,783    $5,790,678             11.54 cents
18        1970      203,302,031  $247,653,000                   $1.22
17        1960      179,323,175  $127,934,000             71.34 cents
16        1950      151,325,798   $91,462,000             60.44 cents
11        1900       76,303,387   $11,854,000             15.54 cents

Find out the data types of all columns - use info() function

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     object
 1   Total Population         23 non-null     object
 2   Census Cost              23 non-null     object
 3   Average Cost Per Person  23 non-null     object
dtypes: object(4)
memory usage: 864.0+ bytes

Find out the summary statistics of all columns

In [7]:
df.describe(include="all")

       Census Year Total Population Census Cost Average Cost Per Person
count           23               23          23                      23
unique          23               23          23                      23
top           1790        3,929,214     $44,377              1.13 cents
freq             1                1           1                       1

Cleanse the data to make the year, population, cost, cost per person numerical type


--Code functions to cleanse the columns. One function for one column


--use apply() method of data frame to apply the functions to the columns for data cleansing

In [8]:
# Cleaning Pupoluation

def clean_population(col_name):
  return int(col_name.replace(",",""))

df['Total Population'] = df['Total Population'].apply(clean_population)
df.head()

  Census Year  Total Population Census Cost Average Cost Per Person
0        1790           3929214     $44,377              1.13 cents
1        1800           5308483     $66,109              1.24 cents
2        1810           7239881    $178,445              2.46 cents
3        1820           9633822    $208,526              2.16 cents
4        1830          12866020    $378,545              2.94 cents

In [9]:
# Cleaning Census Cost

def clean_census_cost(df):
    df['Census Cost'] = df['Census Cost'].map(lambda x: x.replace('$',''))
    df['Census Cost'] = df['Census Cost'].map(lambda x: x.replace(',',''))
    return df
df = clean_census_cost(df)

df.head()

  Census Year  Total Population Census Cost Average Cost Per Person
0        1790           3929214       44377              1.13 cents
1        1800           5308483       66109              1.24 cents
2        1810           7239881      178445              2.46 cents
3        1820           9633822      208526              2.16 cents
4        1830          12866020      378545              2.94 cents

In [10]:
# Cleaning Average Cost Per Person
def clean_cost_per_person(df):
    df['Average Cost Per Person'] = df['Average Cost Per Person'].map(lambda x: x.replace('cents',''))
    df['Average Cost Per Person'] = df['Average Cost Per Person'].map(lambda x: x.replace('$',''))
    return df
df = clean_cost_per_person(df)

df.head()

  Census Year  Total Population Census Cost Average Cost Per Person
0        1790           3929214       44377                   1.13
1        1800           5308483       66109                   1.24
2        1810           7239881      178445                   2.46
3        1820           9633822      208526                   2.16
4        1830          12866020      378545                   2.94

In [11]:
# Cleaning Year
def clean_year(df):
    df['Census Year'] = df['Census Year'].map(lambda x: x.replace('*',''))
    return df
df = clean_year(df)

df.head(23)

   Census Year  Total Population  Census Cost Average Cost Per Person
0         1790           3929214        44377                   1.13
1         1800           5308483        66109                   1.24
2         1810           7239881       178445                   2.46
3         1820           9633822       208526                   2.16
4         1830          12866020       378545                   2.94
5         1840          17069458       833371                   4.88
6         1850          23191876      1423351                   6.14
7         1860          31443321      1969377                   6.26
8         1870          38558371      3421198                   8.87
9         1880          50155783      5790678                  11.54
10        1890          62979766     11547127                  18.33
11        1900          76303387     11854000                  15.54
12        1910          91972266     15968000                  17.07
13        1920         105710620     25117000                  23.76
14        1930         122775046     40156000                  32.71
15        1940         131669275     67527000                  51.29
16        1950         151325798     91462000                  60.44
17        1960         179323175    127934000                  71.34
18        1970         203302031    247653000                    1.22
19        1980         226542199   1078488000                    4.76
20        1990         248718301   2492830000                   10.02
21        2000         281421906  4.5 Billion                   15.99
22        2010         308745538   13 Billion                   42.11

Use Plotly to plot the average cost per person over time.

In [12]:
df.describe(include="all")

       Census Year  Total Population Census Cost Average Cost Per Person
count           23      2.300000e+01          23                      23
unique          23               NaN          23                      23
top           1790               NaN       44377                   1.13
freq             1               NaN           1                       1
mean           NaN      1.039211e+08         NaN                     NaN
std            NaN      9.622629e+07         NaN                     NaN
min            NaN      3.929214e+06         NaN                     NaN
25%            NaN      2.013067e+07         NaN                     NaN
50%            NaN      7.630339e+07         NaN                     NaN
75%            NaN      1.653245e+08         NaN                     NaN
max            NaN      3.087455e+08         NaN                     NaN

Use Plotly to plot the average cost per person over time.

In [13]:
import pandas as pd

print("Pandas Version is ", pd.__version__)

import plotly 

print("Plotly Version is", plotly.__version__)

import plotly.graph_objects as go
import plotly.express as px

Pandas Version is  1.3.5
Plotly Version is 5.5.0

In [14]:
fig = go.Figure()

trace_cost = go.Bar(      
    x=df["Census Year"],    
    y=df["Average Cost Per Person"],
    name="India"
)

fig.add_trace(trace_cost)


fig.update_layout(
    title="Average Cost Per Person Over Time",
    xaxis_title="Census Year",
    yaxis_title="Average Cost Per Person"
)

fig.show()

Use Plotly to plot the scatter plot of Total Population vs Total Cost.

In [24]:
fig = px.scatter(
    df,
    x="Average Cost Per Person",
    y="Total Population", 
    title="Total Cost VS Total Populaton", 
    color="Average Cost Per Person", 
    template="plotly_dark"
)

fig.update_layout(showlegend=False)

fig.show()